<div ng-controller="View1Ctrl as vm" layout="column" layout-align="center center" layout-wrap layout-gt-lg="row" layout-align-gt-lg="start center">
    <md-card ng-repeat="artist in vm.ratings">
        <md-card-title layout="row" layout-align="center center">
            <md-card-title-text class="md-title">{{artist.group}}</md-card-title-text>
            <md-button href="{{artist.wiki}}" title="Wikipedia" target="_blank" class="md-icon-button" aria-label="Wikipedia">
                <i class="material-icons">account_balance</i>
            </md-button>
        </md-card-title>
        <img class="artist-splash" ng-src="{{artist.image}}">
        <md-card-content>
            <div ng-repeat="track in artist.tracks" layout="row" layout-align="space-between center">
                <p>
                    {{track.name}}
                </p>
                <md-button ng-click="vm.showDialog(track)" title="Music Video" target="_blank" class="md-icon-button" aria-label="Music Video">
                    <i class="material-icons">music_video</i>
                </md-button>
            </div>
        </md-card-content>
    </md-card>

</div>